table {
  @apply rounded-lg bg-white dark:bg-gray-800 text-gray-800 dark:text-gray-200 text-sm;

  td, th {
    @apply p-2;
  }

  tbody tr:nth-child(even) {
    @apply bg-gray-200 dark:bg-gray-700;
  }
}