h1, h2, h3, h4, h5, h6 { @apply font-sans font-thin; }

h1 { @apply text-5xl; }
h2 { @apply text-4xl; }
h3 { @apply text-3xl; }
h4 { @apply text-2xl; }
h6 { @apply text-lg; }
h5 { @apply text-xl; }

p { @apply text-gray-800 mb-3; }

a { @apply text-current; }