<!DOCTYPE html>
<html lang="en" class="w-screen h-screen">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Participant", suffix: "" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="w-full h-full flex flex-col space-y-3 p-3 bg-gray-200 dark:bg-gray-800 text-gray-800 dark:text-gray-200">
    <header>
      <section class="container p-3 bg-brand-300 dark:bg-brand-700 text-brand-900 dark:text-brand-200 transition duration-150 rounded shadow-md">
        <nav role="navigation">
          <ul class="flex flex-wrap gap-2 space-x-2">
            <li><a href="https://hexdocs.pm/phoenix/overview.html">Get Started</a></li>
            <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
              <li><%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %></li>
            <% end %>
          </ul>
        </nav>
      </section>
    </header>
    <div class="p-3">
      <%= @inner_content %>
    </div>
  </body>
</html>
